# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
# Define location to pick up file from
file_location = '../WeatherPy/output_data/cities.csv'

# Read file into pandas dataframe
city_weather_df = pd.read_csv(file_location)
city_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bonavista,48.6499,-53.1147,48.20,76,100,8.05,CA,1619133245
1,manuk mangkaw,4.8000,119.8500,80.82,77,21,2.86,PH,1619133246
2,baykit,61.6700,96.3700,25.83,90,100,4.74,RU,1619133246
3,ruidoso,33.3317,-105.6730,64.40,13,1,26.46,US,1619133246
4,imbituba,-28.2400,-48.6703,68.00,83,20,6.91,BR,1619133246
...,...,...,...,...,...,...,...,...,...
462,shache,38.4167,77.2406,50.41,14,12,6.73,CN,1619133616
463,leningradskiy,69.3833,178.4167,34.56,81,92,1.10,RU,1619133616
464,sisimiut,66.9395,-53.6735,30.11,75,61,6.91,GL,1619133617
465,helena,46.5927,-112.0361,35.60,64,90,14.97,US,1619133617
466,porto novo,6.4965,2.6036,84.20,84,40,11.50,BJ,1619133617

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [27]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = city_weather_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = city_weather_df["Humidity"].astype(float)

# Set up css properties of map
figure_layout = {
    'width':'800px',
    'height':'600px'
}

# Specify center for zoom level (zoom around center of earth)
center = [0,0]

In [44]:
# Plot Heatmap
fig = gmaps.figure(layout=figure_layout,center=center,zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,max_intensity=100)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='600px', width='800px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [48]:
# Filter on rows with a max temp less than 80 but higher than 70
ideal_city_weather_df = city_weather_df.loc[(city_weather_df['Max Temp'] < 80)&
                                            (city_weather_df['Max Temp'] > 70),:]
# Filter on rows with wind speeds < 10mph
ideal_city_weather_df = ideal_city_weather_df.loc[ideal_city_weather_df['Wind Speed'] < 10,:]

# Filter on 0 cloudiness
ideal_city_weather_df = ideal_city_weather_df.loc[ideal_city_weather_df['Cloudiness'] == 0,:]

ideal_city_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
62,zhuhai,22.2769,113.5678,79.00,83,0,3.44,CN,1619133289
77,victoria,22.2855,114.1577,77.00,84,0,4.68,HK,1619132582
117,dalbandin,28.8947,64.4101,73.15,20,0,6.71,PK,1619133332
178,morondava,-20.2833,44.2833,76.37,71,0,3.56,MG,1619133375
432,buraydah,26.3260,43.9750,78.80,22,0,5.75,SA,1619133601

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [66]:
# Create dataframe called hotel_df
hotel_df = ideal_city_weather_df

# Add in blank column for 'Hotel Name'
hotel_df['Hotel Name'] = ""

# Set base URL for API call
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Set default parameters for API call
types = 'lodging'
radius = 5000
key = g_key

# Create empty list to store hotel names
hotel_list = []

# Loop through each row in hotel_df and make API calls to find nearest hotels by location
for index,row in hotel_df.iterrows():
    location = f"{row['Lat']},{row['Lng']}"
    # Set parameters dict
    params = {
        'location':location,
        'types':types,
        'radius':radius,
        'key':key
    }
    # Make API call and convert to JSON
    response = requests.get(base_url,params)
    # Extract hotel name from API call and add to empty list created outside of loop
    hotel = response.json()['results'][0]['name']
    hotel_list.append(hotel)

['Nanyang Seascape Hotel Zhuhai Hotel', 'Mini Hotel Central', 'Sanjrani House', 'La Case Bambou', 'فندق راحة السلام']

In [67]:
# Add hotel list into column in dataframe
hotel_df['Hotel Name'] = hotel_list
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
62,zhuhai,22.2769,113.5678,79.00,83,0,3.44,CN,1619133289,Nanyang Seascape Hotel Zhuhai Hotel
77,victoria,22.2855,114.1577,77.00,84,0,4.68,HK,1619132582,Mini Hotel Central
117,dalbandin,28.8947,64.4101,73.15,20,0,6.71,PK,1619133332,Sanjrani House
178,morondava,-20.2833,44.2833,76.37,71,0,3.56,MG,1619133375,La Case Bambou
432,buraydah,26.3260,43.9750,78.80,22,0,5.75,SA,1619133601,فندق راحة السلام

In [68]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [69]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=hotel_info)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='600px', width='800px'))